.Header {
    /*This is the container*/
    background-color: #222;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
}
.Header-logo{
    background-color: #222;
    align-self: flex-start;
    flex: 4 0 0;
    max-width: 30%;
    min-width: 10%;
    max-height:30%;
    min-height:10%;
}
.Header-links{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex: 1 0 0;
}
.Header-signup{
    margin: 20px;
}
.Header-login{
    margin: 20px;
}
.Header-search{
    margin: 20px;
}
.Header span{
    flex-direction: column;
    color: white;
    align-self: flex-end;
}